@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the RubberDucksStore</h1>
    <p>Get your rubber ducks here--- they're very useful for a lot of things</p>
</div>
